.sidenav {
  $width: 450px;

  width: $width;
  min-height: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 1; 
  top: 0;
  left: -$width;
  background: $dark_blue;
  // overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 50px;
  // border-right: 1px solid #a6aeae;
  transition: 0.5s;

  &.is-open {
    left: 0 !important;
  }

  .container {
    width: 95%;
    color: $dirty_white !important;

    .columns {
      margin-bottom: 0 !important;
    }

    .title {
      margin-bottom: 0.5rem !important;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

.widgetnav {
  width: 100%;
  min-height: 250px;
  position: fixed;
  z-index: 1; 
  top: -500px;
  left: 0;
  background: #D0DADA;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 50px;
  border-bottom: 1px solid #a6aeae;
  transition: 0.5s;
  padding: 1rem;

  &.is-open {
    top: 0 !important;
  }
}